#nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0px 34px 100px 28px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 34px 100px 28px rgba(0,0,0,0.5);
  box-shadow: 0px 34px 100px 28px rgba(0,0,0,0.5);
  background-color: white;
}

#nav .nav-button {
  display: inline-block;
  width: 50%;
  height: 100px;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  color: black;
}

#nav .nav-button.active {
  background-color: rgba(253, 61, 61, 0.73);
}

@media (max-width: 1000px) {
  #nav .nav-button {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  #nav .nav-button {
    font-size: 30px;
  }
}

@media (max-height: 559px) {
  #nav {
    position: static;
  }
}